name: Maven CI/CD

on:
  push:
    branches: 
      - backend
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Cache the Maven packages to speed up build
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and test project with Maven
        if: endsWith(github.ref, '/dev')
        run: mvn -B package --file pom.xml
  build-docker-image:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    needs: [build_and_test]

    steps:
      - uses: actions/checkout@v2
      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Container image
        if: endsWith(github.ref, '/dev')
        run: docker build -t ${{ secrets.DOCKER_REPO_BE }}:v1 .
      - name: Publish Docker image
        run: docker push ${{ secrets.DOCKER_REPO_BE }}:v1
